@use 'kit.scss' as *;

header {
    display: flex;
    justify-content: center;

    nav {
        background-color: $bg-dark-color;
        border-radius: 0 0 8px 8px;
        padding: 20px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            padding: 13px 16px;
        }

        .logo {
            max-width: 100px;
            max-height: 60px;

            img {
                width: 100%;
                height: 100%;
            }

            @media screen and (max-width: 1279px) {
                max-width: 90px;
                max-height: 54px;
            }

            @media screen and (max-width: 767px) {
                max-width: 51px;
                max-height: 34px;
            }
        }

        .search-bar {
            border: 2px solid $text-color;
            border-radius: 15px;
            padding: 13px 16px;
            max-height: 50px;
            display: flex;
            gap: 16px;
            max-width: 600px;
            width: 100%;

            input[type="text"] {
                font-family: 'Nunito';
                border: none;
                background-color: transparent;
                color: $text-color;
                font-size: 16px;
                padding: 0;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }

            @media screen and (max-width: 1279px) {
                max-width: 300px;

                input[type="text"] {
                    font-size: 14px;
                }              
            }

            @media screen and (max-width: 767px) {
                max-width: 150px;
                padding: 8px;
                gap: 4px;

                img {
                    width: 12px;
                    height: 12px;
                }

                input[type="text"] {
                    font-size: 8px;
                }              
            }
        }

        .buttons {
            display: flex;
            gap: 32px;
            align-items: center;

            @media screen and (max-width: 767px) {
                gap: 16px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
