<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="assets/img/logo.png" alt="Logo">
                </a>
            </div>
            <div class="search-bar">
                <img src="assets/icons/search.svg" alt="">
                <input type="text" placeholder="What are you looking for?">
            </div>
            <div class="buttons">
                <a href="#">
                    <img src="assets/icons/collection.svg" alt="">
                </a>
                <a href="#">
                    <img src="assets/icons/bookmark.svg" alt="">
                </a>
                <a href="#">
                    <img src="assets/icons/profile.svg" alt="">
                </a>
            </div>
        </nav>
    </div>
</header>