@use 'kit.scss' as *;

body {
    background-color: $bg-color;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

.container {
    max-width: 1280px;
    width: 100%;

    @media screen and (max-width: 1279px) {
        max-width: 768px;
    }

    @media screen and (max-width: 767px) {
        max-width: 100%;
    }
}